
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightslategray;">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" >
        <li class="nav-item">
          <a class="nav-link navbar-brand" routerLink="/"><mat-icon aria-hidden="false" color="accent" aria-label="home icon">home</mat-icon></a>
        </li>
        <li class="nav-item" >
          <a class="nav-link navbar-brand" style="color: white;"  routerLink="/applications">Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-brand" style="color: white;" routerLink="/environments">Environments</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <router-outlet></router-outlet>
</div>